*{
  margin: 0;
  padding: 0;
}



.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-top: 25px;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.headerLink {
  margin: 30px 0 25px 0;
  width: 100px;
  border: 1px solid gray;
  background-color: red;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table, th, td {
  padding: 5px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.link {

  color: white;
  text-decoration: none;

}

.headerLink:hover {
  background-color: gray;
}

.headerLink:active {
  background-color: lightgray;
}

#searchBox {
  width: 246px;
  margin-bottom: 50px;
}

.detailContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

/* =========================== Popup Delete ================== */

.popupContainer {
  box-sizing: border-box;
  width: 350px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  z-index: 2;
  left: calc(50% - 175px);
  top: calc(50% - 115px);
  border-radius: 10px;

  -webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);

  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {transform: scale(0); }
  60% {transform: scale(1.05);}
  80% {transform: scale(0.98);}
  100% {transform: scale(1);}
}

.popupHeader {
  width: 100%;
  height: 30px;
  color: white;
  padding-top: 5px;
  text-align:center;
  background-color: red;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popupTextMovie {
  margin-top: 18px;
}

.popupText {
  margin-top: 20px;
}

.popupButtonContainer{
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* ===================Popup Delete Failed ====================== */

.popupFailedContainer {
  box-sizing: border-box;
  width: 425px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  z-index: 2;
  left: calc(50% - 175px);
  top: calc(50% - 115px);
  border-radius: 10px;

  -webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);

  animation: fadeIn 0.3s;
}

.popupFailedHeader {
  width: 100%;
  height: 30px;
  color: white;
  padding-top: 5px;
  text-align:center;
  background-color: red;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popupFailedTextMovie {
  margin-top: 18px;
}

.popupFailedText {
  margin-top: 20px;
}

.popupFailedButtonContainer{
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#buttonBack {
  outline: none;
  border: none;
  left: 50%;
  margin-left: -25px;
  bottom: -25px;
  position: absolute;

  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;

}

#buttonBack:hover {
  background-color: rgb(255, 88, 88);
}

#buttonBack:active {
  background-color: rgb(189, 0, 0);
}


.redirecting {
  margin-top: 120px;
}

.addingMovie {
  margin-top: -60px;
}



// =================== Load animation ====================
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  margin-top: 70px;
  margin-right: 80px;
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: red;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
